In [ ]:
import pandas as pd
import numpy as np

In [65]:
value = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
out = []
def movingAverage(value, k):
    movAvg = len(value) - k + 1
    i = 0    
    out =[]
    for x in range(0,movAvg):
        sum_ = 0
        for y in range(x, k+i):
            sum_ = sum_ + value[y] 
        out.append(sum_/k)  
        i = i+1
    return out
        
                         
out = movingAverage(value, 3)
print(out)

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [66]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
val=df['X']
output = []
ind = []
for x in range(0,len(val)):   
    out = 0
    for y in range(x,-1,-1):       
        if(val[y]!=0):           
            out = val[y] - out
        else:             
            break
    output.append(out)         
print(output)

[7, 5, 0, 3, -1, 1, -4, 0, 3, -1]

In [67]:
data = []
start_date = "2015-01-01"
end_date = "2015-12-31"

d1 = pd.date_range(start_date, end_date, freq="B")

for x in range(len(d1)):    
    data.append(str(np.random.randint(1,100))) 

df1 = pd.DataFrame(data, index = d1,columns=['MyColumn'])

In [6]:
df1

           MyColumn
2015-01-01        5
2015-01-02       79
2015-01-05       36
2015-01-06       45
2015-01-07        2
2015-01-08       95
2015-01-09       70
2015-01-12       45
2015-01-13       59
2015-01-14       61
2015-01-15       36
2015-01-16       18
2015-01-19       20
2015-01-20       18
2015-01-21       37
2015-01-22       99
2015-01-23       69
2015-01-26       79
2015-01-27       40
2015-01-28       46
2015-01-29        4
2015-01-30       50
2015-02-02       64
2015-02-03       14
2015-02-04       85
2015-02-05       91
2015-02-06       88
2015-02-09       50
2015-02-10       23
2015-02-11       44
...             ...
2015-11-20       26
2015-11-23       11
2015-11-24       41
2015-11-25       31
2015-11-26       49
2015-11-27        6
2015-11-30        9
2015-12-01       28
2015-12-02       27
2015-12-03       19
2015-12-04       39
2015-12-07       96
2015-12-08       74
2015-12-09        3
2015-12-10       51
2015-12-11       46
2015-12-14       70
2015-12-15       33
2015-12-16       99
2015-12-17        3
2015-12-18       46
2015-12-21        2
2015-12-22       38
2015-12-23       53
2015-12-24       86
2015-12-25       40
2015-12-28       64
2015-12-29       75
2015-12-30       88
2015-12-31        9

[261 rows x 1 columns]

In [68]:
dateTimeval = pd.DatetimeIndex(df1.index.values)
total = 0

for indx in range(len(dateTimeval)):
    if dateTimeval[indx].day_name() == "Wednesday":
        total += int(df1.at[dateTimeval[indx], 'MyColumn'])
        
print("sum of s values in very wednesday in the year 2015: " , total)

sum of s values in very wednesday in the year 2015:  2653

In [74]:
currMonth = 1
avg = 0
i = 1
averageOut = {}
for indx in range(len(dateTimeval)):    
    
    if dateTimeval[indx].month == 12 and dateTimeval[indx].day == 31:
        avg += int(df1.at[dateTimeval[indx], 'MyColumn']) / i    
        averageOut.update({dateTimeval[indx].month_name():avg})         
    elif dateTimeval[indx].month == currMonth:
        avg += int(df1.at[dateTimeval[indx], 'MyColumn']) / i        
        currMonth = dateTimeval[indx].month
        i+=1        
    elif dateTimeval[indx].month != currMonth:
        averageOut.update({dateTimeval[indx-1].month_name():avg})        
        avg = 0
        i = 1
        avg += int(df1.at[dateTimeval[indx], 'MyColumn']) / i
        currMonth = dateTimeval[indx].month
             
print(averageOut)

{'January': 188.6446163958161, 'February': 190.34388314643732, 'March': 237.24473573382244, 'April': 268.35011717298875, 'May': 302.281200052098, 'June': 181.8456831481212, 'July': 230.8081578208513, 'August': 198.73342935873893, 'September': 295.2309723858871, 'October': 193.68112776886, 'November': 302.8466446951741, 'December': 278.0580302738198}

In [88]:
currMonth = 1
max_ = -99999
groupStep = 4
currGroup = 1
group = {}
for indx in range(len(dateTimeval)):    
    
    if dateTimeval[indx].month == 12 and dateTimeval[indx].day == 31:
        if int(df1.at[dateTimeval[indx], 'MyColumn']) > max_:
            max_ = int(df1.at[dateTimeval[indx], 'MyColumn'])
            maxDate = str(dateTimeval[indx].date())
        else:
            max_ = max_
            maxDate = maxDate
        group.update({currGroup:maxDate})  
        
    elif dateTimeval[indx].month <= currGroup * groupStep:       
        if int(df1.at[dateTimeval[indx], 'MyColumn']) > max_:
            max_ = int(df1.at[dateTimeval[indx], 'MyColumn'])
            maxDate = str(dateTimeval[indx].date())                                  
        else:
            max_ = max_
         
    elif dateTimeval[indx].month > currGroup * groupStep: 
        group.update({currGroup:maxDate})  
        max_ = int(df1.at[dateTimeval[indx], 'MyColumn'])
        maxDate = str(dateTimeval[indx].date())
        currGroup = currGroup + 1
                                   
group

{1: '2015-02-20', 2: '2015-08-17', 3: '2015-10-15'}